:root {
  --background_global: #e4e2e2;
  --background_hero_title: rgba(45, 62, 80, 0.85);
  --foreground_global: #2d3e50;
  --background_container: #ffffffc3;
  --foreground_hover_global: #1a2738;
  --box_shadow_global: rgba(44,62,80,0.07);
  --color_global: #222;
  --color_link_global: #224171;
  --color_link_hover_global: rgba(52, 84, 209, 0.15);
  --color_link_active_global: rgba(90, 209, 230, 0.12);
  --color_white: #ffffff;

  --color_title: #2d3748;
  --color_subtitle: #4a5568;
  --color_section_title: #2d3e50;
  
  --background_navbar: #cccccc;
  --hamburgerBar_color: #e4e9f7;
  --hamburgerBar_background: #4a5568;
  --hamburgerBar_background_links: #e9e9e9;

  --footer_background: #0a1b31;
  --footer_color: #f5f7fa;
  --footer_link_color: #b3c7e6;
  --footer_link_hover_background: rgba(255,255,255,0.08);
  --footer_link_hover_color: #fff;
  --footer_copyright_color: #7a8fa6;

  /* Mobile styles */

  @media (max-width: 768px) {
    --hamburgerBar_color: #e4e9f7;
    --hamburgerBar_background: #162447;


  }
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background_global);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
